[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/openzeppelin-community-contracts"]
	path = packages/foundry/lib/openzeppelin-community-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-community-contracts
[submodule "packages/foundry/lib/forte-rules-engine"]
	path = packages/foundry/lib/forte-rules-engine
	url = https://github.com/thrackle-io/forte-rules-engine
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
